ion-card {
    margin-top:0px;
    margin-bottom: 0px;
}

ion-card-content {
    min-height: 120px;
}

.menu-setting p {
    font-size: 75%;
}

ion-slides {
    margin: 10px 0px;
}

ion-slide {
    overflow: hidden;
    // padding: 10px;
    padding-left: 16px;
}

ion-slide img {
    border-radius: 15px;
}

.summary {
    text-align: center;
}

.title-info-posbill {
    padding: 0px 16px;
    font-size: 80%;
}

h6 {
    font-size: 80%;
    font-weight: bold;
}