@import url("../../theme/variables.scss");

.chat-box {
  padding: 0.8em;
  margin-bottom: 1em;
}

.chat-box.user {
  border-radius: 0.9em 0.9em 0.5em 0.9em;
  background: #c8e0f1;
}

.chat-box.sender {
  border-radius: 0.9em 0.9em 0.9em 0.5em;
  background: #e586c9;
}

.detail-info {
  display: flex;
  align-items: center;
  gap: 0.2em;
  width: max-content;
  margin-bottom: 0.5em;
}

.user .detail-info {
  margin-left: auto;
}

.chat-box .chat-image {
  max-width: 90%;
}

.chat-box .chat-image ion-button {
  margin-top: 1em;
}

.chat-box .chat-file ion-button {
  width: 100%;
  margin-top: 1em;
}

.chat-box .chat-file .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 6em;
  background-color: grey;
  border-radius: 10px;
  font-size: 1.6em;
}
