<ion-item
  lines="none"
  [class]="chat?.sender_type != 'user' ? 'sender' : 'user'"
>
  <div
    [slot]="chat?.sender_type == 'user' ? 'end' : 'start'"
    class="ion-text-wrap"
  >
    <div slot="end" class="detail-info">
      <!-- <small>{{ chat?.createdAt?.toDate() | date : "HH:mm" }}</small> -->
      <small>{{ chat?.sender_type == "user" ? "Saya" : "Admin" }}</small>
      <small>{{ getFormattedTime(chat?.timestamp) }}</small>
    </div>

    <div
      [class]="
        chat?.sender_type != 'user' ? 'chat-box sender' : 'chat-box user'
      "
      *ngIf="chat?.type == 'text'"
    >
      <ion-text>{{ chat?.body }}</ion-text>
    </div>
    <div
      [class]="
        chat?.sender_type != 'user' ? 'chat-box sender' : 'chat-box user'
      "
      *ngIf="chat?.type == 'file'"
    >
      <div class="chat-file">
        <div class="icon">
          <ion-icon name="document-outline"></ion-icon>
          <h2>File</h2>
        </div>
      </div>
    </div>
    <div
      [class]="
        chat?.sender_type != 'user' ? 'chat-box sender' : 'chat-box user'
      "
      *ngIf="chat?.type == 'image'"
      (click)="openImageModal(chat?.body)"
    >
      <img [src]="chat?.body" alt="" class="chat-image" />
    </div>
  </div>
</ion-item>
