<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" id="popover" (click)="backButton()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Admin Posbill</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="popover" (click)="showPopover($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" *ngIf="messages">
    <ion-item-group class="chats-group" *ngFor="let message of messages">
      <app-chat-box
        [chat]="message"
        [current_user_id]="currentUserId"
      ></app-chat-box>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="px-2">
    <div class="wrapper-footer">
      <div class="input" *ngIf="typeMessage == 'message' ">
        <input type="text" class="input-message" [(ngModel)]="message" />

        <div class="attachments">
          <div class="attach attach-file">
            <input type="file" (change)="onFileSelected($event.target.files)" />
            <ion-icon name="attach-outline"></ion-icon>
          </div>
          <div class="attach" (click)="takePicture()">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
        </div>
      </div>

      <div class="preview" *ngIf="typeMessage == 'file'">
        <ion-icon
          name="close-circle-outline"
          (click)="onClosePreview()"
        ></ion-icon>
      </div>

      <div
        class="preview"
        *ngIf="typeMessage == 'image'"
        [style.background-image]="'url(' + previewImageChat + ')'"
      >
        <ion-icon
          name="close-circle-outline"
          (click)="onClosePreview()"
        ></ion-icon>
      </div>

      <ion-button (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
