.input-message {
  border: none;
  background: transparent;
}

.input-message:focus {
  outline: none;
}

.wrapper-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.wrapper-footer .input {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5em;
  overflow: hidden;
  padding: 0.6em;
  background-color: #f0f0f0;
}
.wrapper-footer .input input {
  width: 90%;
}

.wrapper-footer .input .attachments {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding-right: 0.4em;
}

.wrapper-footer .input .attachments .attach {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
}

.wrapper-footer .input .attach-file {
  position: relative;
  width: 1.2em;
}

.wrapper-footer .input .attach-file input {
  opacity: 0;
  z-index: 99;
}

.wrapper-footer .input .attach-file ion-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

ion-footer .px-2 {
  padding: 1em 1em;
}

ion-footer .preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background: grey;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.5em;
  border-radius: 10px;
  font-size: 2em;
  color: red;
}
