<ion-header mode="ios" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="link" [routerLink]="['/setting/format-printer']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Format nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">

  <ion-item lines="none">
    <ion-label position="stacked">Footer baris 1*</ion-label>
    <ion-textarea [(ngModel)]="setting.format_receipt1"  autocapitalize="on"></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Footer baris 2</ion-label>
    <ion-textarea [(ngModel)]="setting.format_receipt2" autocapitalize="on" [disabled]="company.package == 'Lite'"></ion-textarea>

  </ion-item>
  <ion-item lines="none" *ngIf="company.package == 'Lite'">
    <ion-text color="primary" style="font-size:12px;">Tulisan footer baris 2 hanya dapat diubah dalam versi Premium</ion-text>
  </ion-item>

  <ion-item lines="none">

      <small *ngIf="setting.package == 'Free'"><ion-text color="danger">Anda bisa mengganti Footer baris 2 dengan <a [routerLink]="['/subscription']">berlangganan Premium</a></ion-text></small>
  </ion-item>
</ion-content>


<ion-footer class="ion-padding" mode="ios">
    <ion-button expand="block" (click)="process()">Simpan</ion-button>
</ion-footer>
