ion-content {
  --padding-bottom:20px;
}
.register-body {
  padding-top:20px;
  height:100%;
  // color:#fff;

}

.background-purple {
  // background-color: #912775;
}
//
// .input-text {
//   // border-radius: 10px;
//   border-bottom:1px solid #ccc;
//   padding:10px;
// }

.introduction {
  padding-top:100px;
   background-color: #912775;
}
