<ion-content mode="ios">
  <div style="margin-top: 200px; text-align: center" *ngIf="!showContent">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="article-container">
    <ion-buttons
      slot="start"
      (click)="goBackToTab()"
      style="cursor: pointer; font-size: 1.5em"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <h2>{{ information.title }}</h2>

    <img
      src="{{ information.image }}"
      alt="Gambar Artikel"
      class="article-image"
    />
    <div class="article-details">
      <p class="article-content">{{ information.content }}</p>
    </div>
  </div>
</ion-content>
